# Dossiers de compilation
bin/
obj/
build/

# Exécutables
*.exe
*.out
puissance4

# Fichiers Code Blocks 
*.depend
*.layout

# Fichiers de sauvegarde
*~
*.bak
*.swp

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de données
/files